.selected {
    background: #aaaa;
  }

body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1 {
  padding-top: 1rem;
  padding-bottom:2rem;
}
h3 {
  margin-top: 2rem;
  padding-top: 1rem;
}
footer {
  padding-top: 2rem;
}